@font-face {
font-family: Boblic;
src: local("Boblic"),
url(/thm/font/boblic.otf);
}
@font-face {
font-family: Kaufmann;
src: local("Kaufmann BT"),
url(/thm/font/kaufmann-bt.otf);
}
a {
color: #0078AB;
}
body {
background: #F4F4F4;
}
.header {
height: 50px;
}
.header a.logo {
font-family: Boblic;
font-size: 30px;
margin: 5px;
margin-top: 7px;
margin-right: 10px;
display: block;
float: left;
text-decoration: none;

}
.header a:hover.logo {
text-decoration: none;
}
.header a.section {
display: block;
font-size: 15px;
text-transform: uppercase;
font-family: Boblic;
padding: 3px 5px 0px 5px;
background: #ED0461;
color: #fff;
text-decoration: none;
}
.header .sectionWrapper {
float: left;
padding-right: 4px;
background: url(/thm/img/section-shadow.png) no-repeat top right;
}
.header a.section:hover {
color: #fff;
text-decoration: underline;
}
.cBody {
background: center center repeat-y;
}
.cTop {
margin-top: 5px;
height: 16px;
background: center center no-repeat;
}
.cBottom {
height: 16px;
background: center center no-repeat;
}
.body.cols1 .cBody {
background-image: url(/thm/img/cols1-middle.png);
}
.body.cols1 .cTop {
background-image: url(/thm/img/cols1-top.png);
}
.body.cols1 .cBottom {
background-image: url(/thm/img/cols1-bottom.png);
}
.body.cols2 .cBody {
background-image: url(/thm/img/cols2-middle.png);
}
.body.cols2 .cTop {
background-image: url(/thm/img/cols2-top.png);
}
.body.cols2 .cBottom {
background-image: url(/thm/img/cols2-bottom.png);
}
.body.cols2-wide .cBody {
background-image: url(/thm/img/cols2-wide-middle.png);
}
.body.cols2-wide .cTop {
background-image: url(/thm/img/cols2-wide-top.png);
}
.body.cols2-wide .cBottom {
background-image: url(/thm/img/cols2-wide-bottom.png);
}
.header {
color: #ccc;
vertical-align: middle;
}
.header a {
color: #ccc;
}
.header a:hover {
color: #ED0461;
}
.header img {
vertical-align: middle;
display: inline-block;
}
.header .menu {
position: absolute;
left: 237px;
font-size: 15px;
display: inline-block;
vertical-align: top;
margin-left: 15px;
margin-top: 17px;
font-family: Boblic;
}
.header .menu a {
margin-right: 20px;
}
.header .personal {
float: right;
margin-top: 7px;
font-size: 10px;
}
.header .personal .avatar {
width: 35px;
height: 35px;
border-radius: 35px;
margin-right: 10px;
}
.header .personal .login {
display: inline-block;
margin-right: 10px;
}
h1, h2, h3 {
font-family: Boblic;
}
/*
h3 {
margin-top: 0;
margin-bottom: 15px;
font-size: 20px;
}
*/
.header {
background: #323232;
}
.col1 .blockInfo img {
max-width: 200px;
border-radius: 3px;
}
.col1 .blockText {
padding: 0 20px;
}
.col1 .blockMenu {
padding: 10px;
}
.col1 .bColBody {
padding-left: 20px;
}
.col1 .btn {
margin: 10px 0 20px;
}
.line {
border-top: 1px solid #E8E8E8;
}
.col1 .line {
width: 234px;
margin-left: 5px;
}
.colBody.colContent,
.colBodyContent {
padding: 10px 20px 10px 20px;
}
.addForm input[type=submit] {
margin-top: 15px;
}
.colN3 {
padding-top: 10px;
}
.col2 {
width: 608px;
margin-left: -1px;
}
.span-21.col2 .bColBody {
padding: 10px 30px;
}
.info {
border-radius: 3px;
padding: 10px;
background: #FFECB2;
border: 1px solid #FFBF00;
}
.mainContent,
.itemContent,
.ddItems {
padding: 20px;
}
a.thumb {
box-shadow: 0px 1px 2px #888;
border-radius: 3px;
display: inline-block;
}
a.thumb:hover {
background: #FFBF00;
}
a.thumb img {
margin: 3px;
display: block;
}

.footer {
margin-top: 10px;
margin-bottom: 30px;
font-size: 11px;
text-align: center;
}