.bColBody {
position: relative;
}
.pNumsTop.pNums {
z-index: 1;
position: absolute;
top: -1px;
right: 9px;
}
.pNumsBottom.pNums {
float: right;
margin-top: -20px;
margin-right: 10px;
}
.pNums a, .pNums b {
border: 1px solid #ccc;
font-size: 10px;
border-radius: 13px;
text-align: center;
display: inline-block;
width: 13px;
height: 13px;
padding: 5px;
}
.pNums b, .pNums a:hover {
border-color: #999;
}
.pNums a {
background: #F4F4F4;
}
